* {
	margin:0;
	padding:0;
}
header {
	height: 200px;
	width: 100%;

}
/*.wrap {
	max-width: 1200px;
	margin: 0 auto;
	outline: 1px solid green;
}*/

.top-head {
	height: 50px;
	background-color: #0075BF;
	max-width: 1200px;
	margin: 0 auto;
}
.logotype {
	height: 100px;
	background-color: #F1F1F1;
	line-height: 100px;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	color: #0075BF;
	font-size: 32px;
}
.main {
	height: 50px;
	background-color: #F8F8F8;
	max-width: 1200px;
	margin: 0 auto;
}
.wrap1 {
	background-color: #0075BF;
	width: 100%;
}
.wrap2 {
	background-color: #F1F1F1;
	width: 100%;
}
.wrap3 {
	background-color: #F8F8F8;
	width: 100%;
}
.slider {
	/*min-height: 300px;*/

	/*background-image: url(http://s019.radikal.ru/i633/1608/d4/e1c44253fd18.jpg);*/
	/*background-size: cover;*/
}

.product {
	min-height: 350px;
	background-color: #EAEAEA;
	margin-top: -59px;
}
.partners {
	height: 330px;
}

footer {
	height: 52px;
	margin: 0 auto;
	background-color: rgba(101, 175, 196, 1);
	/*background-image: url(http://s020.radikal.ru/i700/1608/f6/cc4df79856b8.jpg);*/
	/*background-size: cover;*/
}


.adres {
	color: white;
	border-right: 1px solid #359CDC;
	padding: 15px;
	display: inline-block;
	width: 400px;
}
.fa-map-marker {
	color: white;
	/*padding-top: 5px !important;*/
	position: relative;
	top: 5px;
}
.email {
	color: white;
	border-right: 1px solid #359CDC;
	display: inline-block;
	width: 180px;
	padding: 15px;
}
.fa-envelope-o, .fa-mobile {
	color: white;
	position: relative;
	top: 5px;
	padding-left: 15px;
}
.phone {
	color: white;
	display: inline-block;
	padding: 15px;
}

.language {
	display: inline-block;
	float: right;
	padding: 10px;
}
.ua, .eng, .ru {
	display: inline-block;
	color: white;
	border: 1px solid white;
	padding: 5px;
	font-size: 12px;
	margin-left: 5px;
}

.active {
	background-color: #FFDE00;
	color: black;
}

header > .wrap3 >  .main >  ul {
	list-style: none;
	margin: 0 auto;
	margin-left: 150px;
}
header > .wrap3 >  .main >  ul >li {
	float:left;
}
header > .wrap3 >  .main >  ul > li a {
	text-decoration: none;
  	padding: 0px 50px;
  	line-height: 45px;
  	display: block;
  	border-left: 1px solid #E5E5E5;
}
header > .wrap3 >  .main >  ul > li a:hover {
	border-bottom: 5px solid #FFDE00;
}

/* *********НАСТРОЙКА СЛАЙДЕРА********* */
.bx-viewport {
margin-left: 5px !important;
border: 0px !important;

}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	bottom:10px !important;
}

/* ************************************ */

.product h2, .partners h2 {
	text-align: center;
	padding: 30px 0px;
	color: #EFBC00;
}

.partne {
	margin: 0 auto;
	width: 1184px;
	/*outline: 1px solid green;*/
}

.partn {
	border: 1px solid #E5E5E5;
	max-width: 200px;
	margin: 0px -3px;
}

/*.my-slider2 a:hover {
	background-color: white;
}*/

.email2, .phone2 {
	line-height: 50px;
	display: inline-block;
	color: white;
	padding-left: 130px;
	font-size: 16px;
}

.social {
	
	width: 60px;
	display: inline-block;
	margin-left: 80px;
	color: white;
}

.soc {
	font-size: 22px !important;
	margin-left: 5px;
}

.social a {
	color: white;
}
